/* styles.css */

/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

body[data-theme ="dark"] .Page-header .title
{
  color: white;
}

body[data-theme ="dark"] .Page-header .sub-heading
{
  color: rgb(6, 255, 6);
}

body[data-theme ="dark"] .card 
{
  background-color: rgb(34, 34, 34);
  /* border: 2px solid white; */

}

body[data-theme ="dark"] .card .card-title
{
  background-color: rgb(34, 34, 34);
  /* border: 2px solid white; */

}
body[data-theme ="dark"] .card .card-content
{
  background-color: rgb(34, 34, 34);
  /* border: 2px solid white; */

}

body[data-theme ="dark"] .card .card-title .card-heading h2
{
  background-color: rgb(34, 34, 34);
  /* border: 2px solid white; */

}
body[data-theme ="dark"] .card .card-title .card-heading
{
  color: #f0f0f0;
  background-color: rgb(34, 34, 34);
}
.academic-section
{
  min-height: 100vh;
  padding: 5%;
}
.Page-header {
  text-align: left;
  color: black;
}

.title {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

.sub-heading {
  font-size: 1.2em;
  margin: 10px 0;
}

/* Cards Container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
}

/* Card Styles */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 25px;
  width: calc(100% - 40px); /* Full width on small screens */
  max-width: 400px; /* Limit max width for larger screens */
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  display: flex;
  align-items: center;
}

.card-icon {
  width: 80px; /* Set width for icon box */
  height: 80px; /* Set height for icon box */
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Light grey background for icon */
  border-radius: 15%; /* Circular icon box */
  margin-right: 15px; /* Space between icon and title */
}

.card-heading h2 {
  margin: 0;
  font-size: 1.5em;
}

.card-tag {
  width: 80px;
  background-color: #e7f1ff;
  color: #007bff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9em;
  margin-top: 5px;
}

/* Card Content */
.card-content {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5;
}

/* Media Queries for Responsiveness */
@media (min-width: 600px) {
  .card {
    width: calc(50% - 40px); /* Two cards per row on medium screens */
  }
}

@media (min-width: 900px) {
  .card {
    width: calc(33.33% - 40px); /* Three cards per row on large screens */
  }
}
